body, html {
  margin: 0;
  padding: 0;
  font-family: sans-serif; /* Set a default font family */
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(#fef1e1, #ffb88c);
  color: #333;
}

/* Responsive container sizing */
@media (max-width: 768px) {
  .login-container {
    width: 90%;
    max-width: unset; /* Remove max-width for smaller screens */
  }
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  height: 80vh;
  background: linear-gradient(#ffcfae, #fff4e6, #feb080);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 350px;
}

.welcome-text,
.login-details-text {
  margin-bottom: 20px;
  text-align: center;
}

.input-container {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-label {
  text-align: center;
  margin-bottom: 5px;
  color: #783129;
  font-weight: 700;
  border: none;
  border-bottom: 1px solid black;
  /* width: 90px; */
}
.validation-error {
  color: red;
  font-size: 0.8rem; /* Adjust font size if needed */
  margin-bottom: 5px;
}


.login-input {
  width: 80%;
  padding: 10px;
  border: none;
  border-bottom: 1.5px solid #666;
  background: none;
  outline: none;
  text-align: center;
  margin-top: 5px; /* Add a small margin at the top */
}

/* Add focus style */
.login-input:focus {
  border-bottom-color: #333;
  &::placeholder {
    color: transparent;
  }
}

.login-button {
  width: 50%;
  padding: 10px;
  color: black;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  margin-bottom: 20px;
  background-color: #feb080; /* Initial background color */
  transition: background-color 0.3s, box-shadow 0.3s; /* Add transition */
  box-shadow: 0 6px 8px #c97562;
}

.login-button:hover {
  background-color: #fbefde; /* New background color on hover */
}

/* Icon styling */
button svg {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}

.forgot-password-link {
  color: #3d3c3b;
}

.forgot-password-text,
.register-text a {
  font-size: 0.9rem;
  color: #b5302e;
  margin-top: 10px;
}

/* Add validation error styling */
.validation-errors {
  color: red;
  list-style: none;
  padding: 0;
  margin: 0;
}

.validation-errors li {
  margin-bottom: 5px;
}
